footer {
    border-top: 1px solid rgb(203, 213, 224);

    .disclaimer {
        color: rgb(95, 108, 128);
        font-size: 0.75rem;
        p {
            margin-top: 0;
            margin-bottom: 0.25em;
        }
    }
}
