.post {
  article {
    .author-info {
      h6 {
        text-transform: uppercase;
        margin-bottom: 0;
      }

      .copyright {
        font-size: 0.75rem;
      }
    }

    .secondary{
      display: flex;

      .time-to-read {
        margin-left: 1rem;
      }

      .comment-count {
        margin-left: auto;
      }
    }

    .content {
      text-align: justify;
      a {
        color: #0288d1;
      }
    }
  }
}
